.movie-details-container {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 40px;
}

.movie-poster {
  width: 300px;
  border-radius: 8px;
  margin-right: 30px;
}

.movie-content {
  max-width: 700px;
}

.movie-content h1 {
  margin-bottom: 20px;
}

.movie-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}